{#
/**
 * @file clockify.html.twig
 * Default theme implementation to present Clockify data.
 *
 * This template is used when viewing Clockify pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_clockify()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('clockify') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
